<p>Contact Super Rentals</p>

<p>
  Super Rentals HQ
  <address>
    1212 Test Adress Avenue
    Testington, OR 97233
  </address>
</p>

<p>
  <a href="tel:15981669517">(15) 9 8166.9517</a>
</p>

{{#link-to 'about'}}
  About
{{/link-to}}
